 .nextLink,
 .previousLink {
     border-radius: 5px !important;
     padding: 4px 8px !important;
     cursor: pointer;
     text-align: center;
     justify-content: center;
     
 }

 .pagination {
     align-items: center !important;
     display: flex;
     position: absolute;
     list-style: none;
     left: 25%;
     top: 78vh;
     width: 40%;
         
 }
 @media screen and (min-width: 1336px){
     .pagination{
         top: 83vh !important;
     }
 }
 @media screen and (max-width: 768px){
         .pagination{
             left: 5%;
         }
    }
 @media screen and (max-width: 540px){
         .pagination{
             top: 90vh !important;
             left: 0%;
         }
    }    
  @media screen and (max-width: 450px){
         .pagination{
             background: #fff;
             height: 10vh !important;
             left: 5% !important;
             width: 90%;
             z-index: 2000 !important;
             top: 90vh !important;
             left: 0%;
         }
    }       
 .pagination1 {
     align-items: center !important;
     display: flex;
     position: absolute;
     list-style: none;
     left: 50%;
     top: 78vh;
     width: 40%;
 }
 .pagination a {
     /* padding: 10px 12px; */
     padding: 8px 15px;
     margin: 8px;
     border-radius: 50%;
     outline: none;
     cursor: pointer;
 }
 .pagination1 a {
     /* padding: 10px 12px; */
     padding: 8px 15px;
     margin: 8px;
     border-radius: 50%;
     outline: none;
     cursor: pointer;
 }
 .pagination a:hover {
     background: dodgerblue;
     color: #fff;
 }



 .activeLink {
     background: dodgerblue;
     color: #fff;
 }